<div class="container">
   <form action="">
     <label for="">Register Form</label>
     <div class="group">
        <span>Email:</span>
        <input type="text" [(ngModel)]="email" name="email">
     </div>
     <div class="group">
      <span>FullName:</span>
      <input type="text"
      (keyup)="onKey($event)"
       name="full Name">
   </div>
   <button (click)="handleFullName()">
     Submit</button>
  </form>
  <div class="total">
    <p>Email: <span>{{email}}</span></p>
    <p>FullName: <span>{{fullName}}</span></p>
  </div>
</div>
